.page-header {
  background: #1d1d3e url("../img/background-header-320px.jpg") center 0px no-repeat;

  @media @tablet-widths {
    background: #1d1d3e url("../img/background-header.jpg") center 0px;    
  }
}

.page-header__wrapper {
  padding-top: 38px;

  .container;
}

.site-logo {
  width: 183px;
  margin: 0 auto;
}

.site-logo img {
  width: 183px;
  height: 33px;
}